@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.header .title {
	display: flex;
	align-items: center;
	border-right: 1px solid #ddd;
}

.title .logo {
	width: 40px;
	height: 40px;
	padding-left: 16px;
}

.title h3 {
	font-size: 24px;
	padding: 2px 40px 2px 12px;
	font-weight: bold;
}

.phone-num .fa-phone {
	transform: rotate(-270deg);
	font-size: 14px;
}

.header .phone-num {
	flex-grow: 1;
	padding-left: 1290px;
	font-size: 18px;
}

.header .menu {
	font-size: 24px;
	padding: 26px 36px;
	border-left: 1px solid #ddd;
	cursor: pointer;
}

.caption {
	height: 868px;
	background-image: url('https://www.silverlandhotels.com/uploads/cover/2018-06-05-10-31-09-reexpedia-images-sakyo-roofop-swimmingpool-003.jpg');
	background-position: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	text-align: center;
	font-family: 'Poppins';
	color: #92d248;
}

.caption .title {
	font-size: 75px;
	font-weight: 700px;
	line-height: 100px;
	letter-spacing: 14px; 
}

.caption .more {
	text-align: center;
	font-family: 'Poppins';
	font-size:20px;
	position: absolute;
	top: 58%;
	left: 37%;
}

.caption .btn-pre, .btn-next {
	margin: 20px;
	padding: 20px 26px;
	border: none;
	border-radius: 50%;
	font-size: 24px;
	color: #000;
	opacity: 0.3;
	outline: none;
	cursor: pointer;
	transition: 300ms all;
}

.caption .btn-pre:hover, .btn-next:hover {
	opacity: 0.7;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.search-form-block {
	width: 1200px;
	height: 250px;
	background-color: white;
	margin-left: 330px;
	border: none;
	box-shadow: 0 20px 27px rgba(0,0,0,.05);
	position: absolute;
	top: 95%;
}

.search-form-block .name {
	font-size: 16px;
	color: rgba(0,0,0,.7);
	margin: 16px 40px;
}

.search-form-block .search-form {
	margin-top: 40px;
	padding-bottom: 12px;
	background-color: white;
}

form ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-form-block label {
	font-size: 12px;
	color: #222;
	font-weight: bold;
}

.search-form-block .date-input {
	padding: 12px 8px;
	margin-top: 8px;
	width: 200px;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,.15);
	outline: none;
}

.search-form-block select{
	padding: 15px 8px;
	width: 180px;
	margin-top: 8px;
	border: none;
	background-color: rgba(0,0,0,.15);
	font-size: 14px;
	color: gray;
	outline: none;
}

.date-input:hover, select:hover {
	border-bottom: 2px solid rgba(0,0,0,.7);
} 

.btn-check {
	padding: 16px 30px;
	margin: 28px 36px 0 0;
	font-size: 14px;
	color: white;
	background-image: linear-gradient(to right, #7f82f0, #2f9efc, #00b4f7, #00c5e6, #5ad2d4);
	border: none;
	border-radius: 5px;
	box-shadow: 0 10px 27px 0 rgba(154,49,188,.33);
	cursor: pointer;
}

.welcome {
	margin-top: 260px;
	text-align: center;
}

.header-name {
	font-family: poppins,Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #403023;
    text-align: center;
}

.para-wel {
	font-size: 18px;
	letter-spacing: 1px;
	color: #444;
}

.welcome .break-page {
	text-align: center;
	margin: 60px 0;
	color: #ddd;
}

.container {
	padding: 0px 20px 50px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}

.container .icon {
	font-size: 50px;
	color: #7f82f0;
	padding-right: 40px;
	opacity: 0.8;
}

.container .icon:hover {
	color: #7ff0b5;
}

 h6 {
	font-size: 14px;
	font-weight: bold;
}

.info {
	font-size: 14px;
	color: #666;
	line-height: 24px;
}

.gallery {
	padding: 60px 0 100px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #eee;
}

.gallery-box {
	width: 1400px;
	height: 900px;
	background-color: rgba(0,0,0,.04);
	margin-top: 60px;
}

.gallery-box .content-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-left {
	width: 760px;
	height: 538px;
	background-image: url(https://demo.kallyas.net/greekhotel/wp-content/uploads/sites/73/2017/04/glr1.jpg);
	background-position: center;
	margin: 110px 15px 40px 0px;
	cursor: pointer;
	position: relative;
}

.img-right .img-right-top {
	width: 370px;
	height: 255px;
	background-image: url(https://demo.kallyas.net/greekhotel/wp-content/uploads/sites/73/2017/04/glr2.jpg);
	background-position: center;
	margin: 85px 0px 15px 15px;
	cursor: pointer;
	position: relative;
}

.img-right .img-right-bot {
	width: 370px;
	height: 255px;
	background-image: url(https://demo.kallyas.net/greekhotel/wp-content/uploads/sites/73/2017/04/glr3.jpg);
	background-position: center;
	margin: 30px 0px 15px 15px;
	cursor: pointer;
	position: relative;
}

.im {
	transition: 2s all;
}

.img-left .overlay {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	top: 45%;
	left: 45%;
	opacity: 0;
	transition: 500ms all;
}

.img-right .overlay {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 40%;
	opacity: 0;
	transition: 500ms all;
}

.img-left:hover {
	transform: scale(1.05);
}

.img-right-top:hover, .img-right-bot:hover  {
	transform: scale(1.1);
}

.im:hover .overlay {
	opacity: 1;
	transform: translateY(-10px);
}

.btn-pre-2, .btn-next-2 {
	padding: 18px;
	margin: 80px 30px 0 30px;
	border: none;
	background-color: inherit;
	font-size: 25px;
	font-weight: 400px;
	outline: none;
	cursor: pointer;
	transition: 200ms all;
}

.btn-pre-2:hover, .btn-next-2:hover {
	transform: scale(1.5);
}

.gallery-box .bot {
	display: flex;
	align-items: center;
	margin: 0 110px;
}

.bot .content-bot {
	width: 760px;
	text-align: left;
	font-family: 'Poppins';
}

.content-bot .title-bot {
	font-size: 24px;
	font-weight: bold;
	line-height: 1px;
}

.content-bot .para-bot {
	font-size: 14px;
	opacity: 0.6;
}

.bot .view-all {
	margin: 40px 0 0 40px;
	padding: 20px 150px;
	background-color: white;
	border: none;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}

.services {
	padding: 60px 360px;
	background-color: rgba(0,0,0, .03);
}

.services .service-box { 
	display: flex;
	align-items: center;
	margin-top: 60px;
}


.item {
	display: flex;
	margin-bottom: 35px;
}

.item h6 {
	margin: 0;
}

.ik {
	color: #7f82f0;
	padding-right: 20px;
	font-size: 20px;
}

.service-box form {
	flex-grow: 1;
	margin-left: 200px;
}

.input-top {
	display: flex;
}

.service-box form input {
	width: 330px;
	border: none;
	outline: none;
	padding: 25px 8px 8px 8px;
	border-radius: 4px;
}

.service-box form .mes {
	width: 706px;
	height: 120px;
	outline: none;
	border-radius: 4px;
}

.input-group {
	position: relative;
	margin-right: 30px;
	margin-bottom: 15px;
}

.service-box form label {
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 10px;
	font-weight: bold;
	opacity: .5;
}

.service-box form .send {
	width: 230px;
	height: 55px;
	margin-left: 70px;
}