@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.header .title {
	display: flex;
	align-items: center;
	border-right: 1px solid #ddd;
}

.title .logo {
	width: 40px;
	height: 40px;
	padding: 0 18px;
}

.title h3 {
	font-size: 24px;
	padding: 26px 40px;
	font-weight: bold;
}

.header .fa-phone {
	transform: rotate(-270deg);
	font-size: 14px;
}

.header .phone-num {
	flex-grow: 1;
	padding-left: 1290px;
	font-size: 18px;
}

.header .menu {
	font-size: 24px;
	padding: 26px 36px;
	border-left: 1px solid #ddd;
}

.caption {
	height: 868px;
	background-image: url('https://www.silverlandhotels.com/uploads/cover/2018-06-05-10-31-09-reexpedia-images-sakyo-roofop-swimmingpool-003.jpg');
	background-position: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	text-align: center;
	font-family: 'Poppins';
	color: #92d248;
}

.caption .title {
	font-size: 75px;
	font-weight: 700px;
	line-height: 100px;
	letter-spacing: 14px; 
}

.caption .more {
	text-align: center;
	font-family: 'Poppins';
	font-size:20px;
	position: absolute;
	top: 58%;
	left: 37%;
}

.caption .btn-pre, .btn-next {
	margin: 20px;
	padding: 20px 26px;
	border: none;
	border-radius: 50%;
	font-size: 24px;
	color: #000;
	opacity: 0.3;
	outline: none;
	cursor: pointer;
	transition: 300ms all;
}

.caption .btn-pre:hover, .btn-next:hover {
	opacity: 0.7;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.search-form-block {
	width: 1200px;
	height: 250px;
	background-color: white;
	margin-left: 330px;
	border: none;
	box-shadow: 0 20px 27px rgba(0,0,0,.05);
	position: absolute;
	top: 95%;
}

.search-form-block .name {
	font-size: 16px;
	color: rgba(0,0,0,.7);
	margin: 16px 40px;
}

.search-form-block .search-form {
	margin-top: 40px;
	padding-bottom: 12px;
	background-color: white;
}

form ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-form-block label {
	font-size: 12px;
	color: #222;
	font-weight: bold;
}

.search-form-block input {
	padding: 12px 8px;
	margin-top: 8px;
	width: 200px;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,.15);
}

.search-form-block select{
	padding: 15px 8px;
	width: 180px;
	margin-top: 8px;
	border: none;
	background-color: rgba(0,0,0,.15);
	font-size: 14px;
	color: gray;
}

input:hover, select:hover {
	border-bottom: 2px solid rgba(0,0,0,.7);
} 

.search-form-block .btn-check {
	padding: 16px 30px;
	margin: 28px 36px 0 0;
	font-size: 14px;
	color: white;
	background-image: linear-gradient(to right, #7f82f0, #2f9efc, #00b4f7, #00c5e6, #5ad2d4);
	border: none;
	border-radius: 5px;
	box-shadow: 0 10px 27px 0 rgba(154,49,188,.33);
	cursor: pointer;
}

.welcome {
	margin-top: 260px;
	text-align: center;
}

.welcome h2 {
	font-family: poppins,Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #403023;
}

.welcome .para-wel {
	font-size: 18px;
	letter-spacing: 1px;
	color: #444;
}

.welcome .break-page {
	text-align: center;
	margin: 60px 0;
	color: #ddd;
}

.container {
	padding: 0px 20px 50px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.container .box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 80px;
}

.container .icon {
	font-size: 50px;
	color: #7f82f0;
	padding-right: 40px;
	opacity: 0.8;
}

.container .icon:hover {
	color: #7ff0b5;
}

.container h6 {
	font-size: 14px;
	font-weight: bold;
}

.container .info {
	font-size: 14px;
	color: #666;
	line-height: 24px;
}